<div class="product_card_container product_card_container_height"> 
    <a href="/products/detail/<%= product.id %>">
    <img class="product_card_img "  src="images/home/productos/<%= product.main_image %>" alt="">
    <div>
        <a  class="links" href="/products/detail/<%= product.id %>"><h3 class="product_card_text product_card_text_mark green_font"><%= product.title %> </h3></a>
        <p class="product_card_text"><%= product.summary %></p>
        <p class="product_card_text product_card_text_mark"><%= product.price %></p>
    </div>
    </a>
</div>