<div class="product_card_container product_card_container_height"> 
    <img class="product_card_img "  src="images/home/productos/<%= product.main_image %>" alt="">
    <div>
        <a href="/productdetail/<%= product.id %>"><h3 class="product_card_text product_card_text_mark green_font"><%= product.tittle %> </h3></a>
        <p class="product_card_text"><%= product.summary %></p>
        <p class="product_card_text product_card_text_mark"><%= product.price %></p>
    </div>
</div>