<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
    <link rel="icon" href="../images/white-logo.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <title>Ramé Deco Editar</title>
</head>

<body>
    <main>

        <!-- navbar -->
        <%- include('parcials/headeradmin.ejs',{'user':user}) %>
        <div>
            <h1>
                Edicion Articulo: <%=product.tittle%>
            </h1>

        </div>


        <form class="container-main" method="POST" action="/products/<%=product.id%>?_method=PUT"  enctype="multipart/form-data" >

            <!--product name and description  -->
            <div class="product-name-description">

                <!--name  -->
                <label class="labelName" for="tittle">Nombre del producto</label>
                <input class="inputName" type="text" name="tittle" value="<%=product.title%>">

                <!--description  -->
                <label class=" labelDescription" for="summary">Resumen de tu producto</label>
                <textarea class="coments" style="resize: none;" id="summary" name="summary" rows="10"
                   cols="40"><%=product.summary%></textarea>


            </div>



            <!-- inputs -->
            <div class="containerDetalle">

                <!-- first column of inputs -->
                <div>

                    <!--description  -->
                    <label class=" labelDescription" for="product_detail">Descripcion</label>
                    <textarea class="coments" style="resize: none;" name="product_detail" rows="5"
                         cols="40"><%=product.description%></textarea>


                    <label>Categoría</label>

                    <select name="category">
                        <% for(var i= 0; i< categories.length; i++) { %>
                        <option name="category"><%=categories[i].name%></option>
                        <% } %>
                    </select>

                        <label class="upload-images">Sube imagenes del producto 
                        <input type="file" size="60"
                                name='images' accept=".pdf,.jpg,.png"></label>

                </div>

                <!-- second column of inputs -->
                <div>

                    <!--description  -->
                    <label class=" labelDescription" for="product_detail">Detalles del producto</label>
                    <textarea class="coments" style="resize: none;" name="product_detail" rows="5"
                        value="<%=product.product_detail%>" cols="40" required><%=product.product_detail%></textarea>


                    <label class="labelPrecio" for="dimension">Dimension</label>
                    <input class="inputPrecio" type="text" name="dimension" style="background-color: #dce1df" value="<%=product.dimension%>"
                        required>


                    <label class="labelPrecio" for="price">Precio</label>
                    <input class="inputPrecio" type="number" name="price" style="background-color: #dce1df" value="<%=product.price%>" required>

                    <div class="container-of-button">
                        <input type="submit" class="input-of-create" value="edit">
                    </div>

                </div>

            </div>


        </form>

        </div>



        

    </main>



</body>

</html>