<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
</head>

<body class="body-product-detail">
  <%- include('parcials/header.ejs') %>
  <main>
    <section class="titulo-product-detail">
      <h1><%= product.title %></h1>
    </section>
    <div class="elContenedor">
      <div>
        <img src="/images/home/productos/<%= product.main_image%>" alt="" class="imagen-product">
        <div class="texto-izq-product"><%= product.summary%></div>
      </div>
    </div>

    <div class="elContenedor">
      <div>
        <img src="/images/home/productos/<%= product.images[0] %>" alt="" class="imagen-product">
        <div class="texto-der-product"> <%= product.summary%></div>
      </div>
    </div>
    <div class="otroContenedor contenedor-descrip">
      <div class="contenedor-descrip-izq">
        <p class="caja"><%= product.product_detail%></p>
      </div>

      <div class="contenedor-descrip-der">
        <p class="precio"><%= product.price%></p>

      
        <div class="contenedor-cantidad">
          <form action="/products/addToCart" method="POST">
            <input style="display: none;" type="text" id="id_product" name="id_product" value="<%= product.id%>" />
            <input class="bajar-cantidad" type="button" value="-" onclick="decrementI()" />
            <input type="text" name="display" id="display" value="1">
            <input class="aumentar-cantidad" type="button" value="+" onclick="incrementI()" />
            <button class="boton-agregar-carrito" type="submit">Agregar al carrito</button>
        </form>
            <p class="precio" id="total" ><%= product.price%></p>
        </div>
        
      </div>
    </div>

  </main>
  <%- include('parcials/footer.ejs') %>
</body>

<script> 
  var i = 1;
  var j = 1;
  var k = 11900;

  
  function incrementI() {
  if (i < 10) {
   i++;
   k+=1500;
  }
   document.getElementById("display").innerHTML = i;
   document.getElementById("total").innerHTML = k;
  }

   function decrementI() {
  if (i > 1) {
  k-=1500;
  --i;
  } 
  document.getElementById("display").innerHTML = i;
  document.getElementById("total").innerHTML = k;

  }

  function incrementJ() {
  if (j < 10) {
   j++;
   k+=10000;

  }
   document.getElementById("display-2").innerHTML = j;
   document.getElementById("total").innerHTML = k;

   }

   function decrementj() {
  if (j > 1) {
      k-=10000;
      --j;
  } 
  document.getElementById("display-2").innerHTML = j;
  document.getElementById("total").innerHTML = k;

  }


</script>

</html>