<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
</head>

<body class="body-product-detail">
  <%- include('parcials/header.ejs',{'user':user}) %>
  <main class="content-container">
    <% if (product != undefined) { %>

    <section>
      <h1 class="product_detail_title"><%= product.title %></h1>
      
    </section>
    <div class="text_container"><p><%= product.summary%></p></div>
    <div class="grid_container">
      <div class="img_container">
        <img src="/images/home/productos/<%= product.main_image%>" alt="" >
      </div>
      <div class="text_container"><p><%= product.description%></p></div>  
      <div class="text_container"><p ><%= product.product_detail%></p></div>
      
      <div class="img_container">
        <img src="/images/home/productos/<%= product.images[0].path %>" alt="" >
      </div>
    </div>
      
      
    </div>
    <div>
      <h3 class="form_title_pd"><%= product.title %></h3>
      <div class="price_container">
      <div class="form_element_container"><p>Precio: $<span class="precio" id="precio"><%= product.price%></span></p></div>
      <form action="/products/addToCart" method="POST" class="form_element_container" >
        <div class="amount_container">
        <input style="display: none;" type="text" id="id_product" name="id_product" value="<%= product.id%>" />
        <input class="bajar-cantidad" type="button" value="-" />
        <input type="text" class="display_input"
        name="display" id="display" value="1">
        <input class="aumentar-cantidad" type="button" value="+" />
        </div>
      
        <button class="boton-agregar-carrito" type="submit">Agregar</button>
      </form>
      <div class="form_element_container">
        <p>Total: $<span class="precio" id="total"><%= product.price%></span></p>
      </div>
      </div>
    </div>  




  </main>
  <% } %>
  <% if (product == undefined) { %>
  <main style="height: 80vh;">
    <div class="error_container">
      <p>No se han encontrado productos relacionados con su busqueda</p>
    </div>
  </main>
  <% } %>

  <%- include('parcials/footer.ejs') %>
  <script src="/js/productDetail.js"></script>
</body>

</html>