<!DOCTYPE html>
<html>
  <head>
    <title>Rame deco</title>
  <link rel="stylesheet" href="../CSS/style.css">
  
	<link rel = "icon" href="../images/white-logo.jpeg" type = "image/x-icon"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>
    <!-- navbar -->
    <%- include('parcials/header.ejs') %> 
 

  <% for(var i= 0; i<gs.length; i++) { %>
    <section class="container-section-articles">
      
      <!-- article image and push button -->
   <div class="section-container-top">
  <img class="section-container-image" src="../images/home/productos/<%= gs[i].main_image %>" alt="">
  </div>
    
<!-- red cross for mobile -->
      <div><p class="shoppincart-delete">eliminar</p></div>
  
<div class="section-container-bottom">

<!-- article title and description -->
<div class="shoppingcart-tittle-description" >
<!--Title of product -->
<p class="section-container-title"><%=gs[i].tittle%></p>

<!-- Description of product-->
<p class="section-container-subtitle"><%=gs[i].description%></p>
</div>

<!-- counter of products in the shoppingcart and the price-->

<div class="shoppingcart-quantity-price">
<div class="shoppingcart-quantity">

<input class="quantity-decrement" type="button" value="-" id="decI" onclick="decrementI()"/>             
<label class="quantity-display" id="display" >1</label>                  
<input class="quantity-increment" type="button" value="+" id="incI" onclick="incrementI()"/>

</div>
          
    
<!-- Price of the product -->
<div class="shoppingcart-product-price">
<span class="quantity-price">$<span><%=gs[i].price%></span></span>    
</div>
</div>

</div>

<!-- red cross used showed in pc -->
<span class="shoppingcart-delete-pc">x</span>

</section>
<% } %>


<!-- Products sugested to the clients -->
<section class="Sugested-products">

<!-- title of sugested products -->
<div class="Sugested-products-title ">Productos sugeridos </div>

<!-- images of sugested products -->
<div class='Sugested-products-image-container'>
  <% for(var i= 0; i<gs.length; i++) { %>

    <img class="Sugested-products-image" id = "top-right-image" src="../images/home/productos/<%= gs[i].main_image %>" alt="">
    <% } %>

  </div>
</section>


<!-- Resume of prices and continue button -->
<section class="container-order-summary">

<div class="order-summary-bottom">
          
<div class="order-summary-subtotal">Subtotal:
<div class="order-summary-price">$<span>1200</span></div></div>

<div class="order-summary-shipping">Envio: 
<div class="order-summary-price">$<span>400</span></div></div>
   
</div>

<div class="order-summary-bottom">

<div class="order-summary-total">Total:
<div class="order-summary-price">$<span id="total">11900</span></div>
         
</div>
<br>

<button id="button-order-summary">Continuar compra</button>   

</div>

</section>

                    
        
<!-- partial of the footer-->
    <%- include('parcials/footer.ejs') %>
 
  <!-- js for the counter of products -->
<script> 
        var i = 1;
        var j = 1;
        var k = 11900;
    
        
        function incrementI() {
        if (i < 10) {
         i++;
         k+=1500;
        }
         document.getElementById("display").innerHTML = i;
         document.getElementById("total").innerHTML = k;
        }
    
         function decrementI() {
        if (i > 1) {
        k-=1500;
        --i;
        } 
        document.getElementById("display").innerHTML = i;
        document.getElementById("total").innerHTML = k;
    
        }
    
        function incrementJ() {
        if (j < 10) {
         j++;
         k+=10000;
    
        }
         document.getElementById("display-2").innerHTML = j;
         document.getElementById("total").innerHTML = k;
    
         }
    
         function decrementj() {
        if (j > 1) {
            k-=10000;
            --j;
        } 
        document.getElementById("display-2").innerHTML = j;
        document.getElementById("total").innerHTML = k;
    
        }
    
    
    </script>
    </body>
    </html>