<!DOCTYPE html>
<html>
  <head>
    <title>Rame deco</title>
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="icon" href="../images/white-logo.jpeg" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- navbar -->
    <%- include('parcials/header.ejs') %> 
    <form action="/products/shoppingcart" method="post">
    <% let total=0%>
    <% for (const product of books) {%>

    <section class="container-section-articles">
    
      <div class="section-container-top">
        <img
          class="section-container-image"
          src="../images/home/productos/<%= product.main_image %>"
          alt=""
        />
      </div>

      <div class="section-container-bottom">
        <!-- article title and description -->
        <div class="shoppingcart-tittle-description">
          <!--Title of product -->
          <p class="section-container-title"><%=product.title%></p>

          <!-- Description of product-->
          <p class="section-container-subtitle"><%=product.description%></p>
        </div>

        <!-- counter of products in the shoppingcart and the price-->

        <div class="shoppingcart-quantity-price">
          <div class="">
            <input

              type="button"
              value="-"
              class="decI"
              id="<%=product.id%>_dec"
            />
            <input type="text" readonly class="form-control" style="width: 20%;display: inline;" id="<%=product.id%>_amount" name="<%=product.id%>_amount" value="<%= product.amount %>">
            <input
              type="button"
              value="+"
              class="incI"
              id="<%=product.id%>_inc"
            />
          </div>

          <!-- Price of the product -->
          <div class="shoppingcart-product-price">
            <label for="product_price">Precio:</label>
            <input class="quantity-price"  type="text" name="<%=product.id%>_product_price" id="<%=product.id%>_product_price" value="<%=product.price%>" readonly>

            <label for="product_subtotal">Subtotal:</label>
            <input class="quantity-price"  type="text" name="<%=product.id%>_product_subtotal" id="<%=product.id%>_product_subtotal" value="<%=product.subtotal%>" readonly>
            <a href="/products/shoppingcart/<%= product.id%>" ></a>
          </div>
    </section>
  
    <% total+= product.subtotal%>
    <% } %>

    <!-- Products sugested to the clients -->
  

    <!-- Resume of prices and continue button -->
    <section class="container-order-summary">
        <div class="order-summary-bottom">
        <div class="order-summary-total form-group row">
          <label class="col-sm-2 col-form-label" for="total_purchase">Total:</label>
          <input  readonly class="form-control" type="text" name="total_purchase" id="total_purchase" value="<%= total %>" >
        </div>
        <div >
        <div class="form-group">
            <label class="labelName">Formas de Pago:</label>
            <select class="form-control" name="paymentMethod">
              <% for(var i= 0; i< paymentMethods.length; i++) { %>
              <option name="paymentMethod" value="<%= paymentMethods[i].id%>"><%= paymentMethods[i].name%></option>
              <% } %>
            </select>
        </div>

        
          <button type="submit" class="btn btn-primary btn-sm">
            Comprar
          </button>
        </div> 
      </div>
    </section>
  </form>
  <section class="Sugested-products">
    <!-- title of sugested products -->
    <div class="Sugested-products-title">Productos sugeridos</div>

    <!-- images of sugested products -->
    <div class="Sugested-products-image-container">
      <% for(var i= 0; i< 5 ; i++) { %>

      <div class="rounded card justify-content-center">
        <div class="card-body">
          <a
            class="section-container"
            href="/products/detail/<%= products[i].id %> "
          >
            <img
              class="Sugested-products-image"
              class="rounded"
              id="top-right-image"
              src="../images/home/productos/<%= products[i].main_image %>"
              alt=""
            />
            <p class="section-container-subtitle-sugested-products">
              <%= products[i].tittle %>
            </p>
          </a>
        </div>
      </div>

      <% } %>
    </div>
  </section>
    <!-- partial of the footer-->
    <%- include('parcials/footer.ejs') %>
    <script src="../js/shoppingCart.js"></script>
  </body>
</html>
